/*
font-family: 'Arsenal', sans-serif;
font-family: 'WindSong', cursive;
  .dot-color1 {
    background-color: #f39353;
  }

  .dot-color2 {
    background-color: #ebb87e;
  }

  .dot-color3 {
    background-color: #e75c8d;
  }

  .dot-color4 {
    background-color: #df2a69;
  }

*/
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #1d1d1d;
}

body {
  font-family: "Arsenal", sans-serif;
}

p {
  font-family: "Arsenal", sans-serif;
  font-size: 25px;
  text-align: center;
  line-height: 1.3;
}

.menu--checkbox {
  position: absolute;
  left: -9999px;
}
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #c7a794;
  text-transform: uppercase;
  display: none;
}

.menu--item {
  border-bottom: 1px solid #fdfdfd;
}

.menu--link {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #fdf3ed;
  text-align: center;
}

.menu--toggler {
  cursor: pointer;
  font-size: 20px;
}

.menu--link:hover {
  background-color: #f39353;
  font-weight: 700;
}

.menu--checkbox:checked ~ .menu {
  display: block;
}
.navigation-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.hero {
  background-color: #fdf3ed;
  background-image: linear-gradient(
      rgba(54, 53, 53, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    url(hero-picture-small.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 60px;
  height: 90%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
  top: 20px;
  margin-top: 25px;
}
.main-header {
  font-family: "WindSong", cursive;
  font-weight: 400;
  font-size: 45px;
  color: #c7a794;
  display: block;
  text-align: center;
}

h1::after {
  content: url(ornament_transparent.png);
  display: block;
  line-height: 15px;
  margin-bottom: 25px;
  text-align: center;
}

h2::after {
  content: url(ornament-black-transparent-mobile.png);
  display: block;
  text-align: center;
  margin-top: 25px;
}
.header-date {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 23px;
  display: block;
  color: #c7a794;
  text-align: center;
}

.header-place {
  font-family: "Arsenal", sans-serif;
  font-weight: 400;
  font-size: 23px;
  display: block;
  color: #c7a794;
  text-align: center;
}

.place p,
.place--link {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 2px;
}

.place--link {
  color: #0000ff;
  display: block;
  text-align: center;
}
.place--image {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.image--text {
  display: block;
  text-align: center;
}

.image--link {
  color: #0000ff;
}
.map {
  margin-top: 20px;
}
h2 {
  margin-bottom: 20px;
  font-size: 35px;
  font-family: "Arsenal", sans-serif;
  text-align: center;
}

h3 {
  font-size: 27px;
  text-transform: uppercase;
  font-family: "Arsenal", sans-serif;
  text-align: center;
}

section {
  padding: 25px;
}

.link-instagram {
  color: #0000ff;
}
.home {
  background-color: #f8d9c6;
}

.about {
  background-color: #fdf3ed;
}

.place {
  background-color: #f8d9c6;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 25px;
}

.place--link {
  font-size: 23px;
}
.image--text {
  font-size: 15px;
}

.program {
  background-color: #fdf3ed;
}

.party {
  gap: 100px;
  margin-bottom: 50px;
}
.activity-1 {
  margin-bottom: 20px;
}
.time p {
  font-size: 50px;
  margin-bottom: 30px;
}

.activity p {
  border: 1px solid #f8d9c6;
  background-color: #f8d9c6;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  word-break: keep-all;
}

.last-activity p {
  text-align: center;
}
.information {
  background-color: #f8d9c6;
}
.info {
  border: 1px solid #fdf3ed;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  background-color: #fdf3ed;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.info p {
  text-align: center;
}

.info-5 img {
  width: 100%;
  margin: 10px auto;
}

.info-5-link {
  color: #0000ff;
}

.form {
  background-color: #fdf3ed;
}

.icon {
  width: 50px;
  height: 50px;
  color: #000000;
}

.btn {
  font-family: "Arsenal", sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #c7a794;
  background-color: #c7a794;
}

.button-container {
  text-align: center;
  margin: 40px;
}

.dot {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #000000;
  /*display: inline-block;*/
  margin: 20px 15px;
  margin-bottom: 0;
}

.colors {
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-between;*/
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  gap: 20px;
}

.dot-color1 {
  background-color: #f39353;
  grid-column: 1/2;
  grid-row: 1/2;
}

.dot-color2 {
  background-color: #ebb87e;
  grid-column: 2/-1;
  grid-row: 1/2;
}

.dot-color3 {
  background-color: #e75c8d;
  grid-column: 1/2;
  grid-row: 2/-1;
}

.dot-color4 {
  background-color: #df2a69;
  grid-column: 2/-1;
  grid-row: 2/-1;
}

footer {
  font-family: "Arsenal", sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #f8d9c6;
}
@media screen and (min-width: 481px) {
  header {
    position: relative;
    top: 20px;
    margin-top: 0;
  }

  .party {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    margin-left: 90px;
    gap: 90px;
    justify-content: space-between;
  }
  /*
  .dot {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 5px;
    margin-bottom: 0;
  }
  .colors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .dot-color1 {
    grid-column: 1/2;
    grid-row: 2/-1;
  }
  .dot-color2 {
    grid-column: 2/-1;
    grid-row: 2/-1;
  }
  .dot-color3 {
    grid-column: 1/2;
    grid-row: 2/-1;
  }
  .dot-color4 {
    grid-column: 2/-1;
    grid-row: 2/-1;
  }*/
}
@media screen and (min-width: 900px) {
  p {
    font-family: "Arsenal", sans-serif;
    font-size: 30px;
    text-align: center;
    line-height: 1.3;
  }

  h2 {
    margin-bottom: 50px;
  }

  h3 {
    font-size: 27px;
    text-transform: uppercase;
    font-family: "Arsenal", sans-serif;
    text-align: center;
  }
  section {
    padding: 25px 60px;
  }

  .menu--toggler {
    display: none;
  }

  .navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    width: 90px;
    height: 90%;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    margin-top: 0;
    background-color: transparent;
  }

  .menu--item {
    border-bottom: 0;
    text-transform: uppercase;
    font-size: 23px;
  }

  .menu--link {
    color: #1d1d1d;
  }

  .menu--link:hover {
    background-color: transparent;
    color: #f39353;
  }

  header {
    position: relative;
    top: 80px;
  }

  .main-header {
    font-size: 80px;
    display: inline-block;
  }

  h1::after {
    content: url(ornament_transparent.png);
    line-height: 20px;
    margin-bottom: 30px;
  }

  h2::after {
    content: url(ornament-black.png);
  }

  .header-date {
    font-size: 35px;
    display: inline-block;
  }

  .header-place {
    font-size: 35px;
    display: inline-block;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .place--image {
    width: 50%;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .image--text {
    font-size: 20px;
  }
  .party {
    display: flex;
    align-items: flex-start;
    margin-bottom: 70px;
    margin-left: 150px;
    gap: 250px;
  }

  .info {
    margin-bottom: 0;
  }

  .six-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 30px;
  }

  .info-1 {
    grid-column: 1 / 4;
    grid-row: 1 /2;
  }

  .info-2 {
    grid-column: 4 /-1;
    grid-row: 1 /2;
  }

  .info-3 {
    grid-column: 1 /3;
    grid-row: 2 /3;
  }

  .info-4 {
    grid-column: 3 /5;
    grid-row: 2 /3;
  }

  .info-5 {
    grid-column: 1 /-1;
    grid-row: 3 /-1;
  }

  .info-6 {
    grid-column: 5 /-1;
    grid-row: 2 /3;
  }

  .btn {
    font-size: 30px;
  }

  .dot {
    height: 75px;
    width: 75px;
    margin: 15px 25px;
    display: inline-block;
  }

  .colors {
    display: inline-block;
  }

  .info-5 img {
    width: auto;
    margin: 10px auto;
  }
}
